/* list */

ul,
ol {
    margin: 0;
    padding: 0;
    text-indent: 0;

ul, ol {
    margin-left: 2.1em;
}

    p {
        text-indent: 0;
    }
}

// numbering here
main {
ol {
    counter-reset: list-num;

    li {
        list-style-position: oustide;
        margin-left: 1em;
        counter-increment: list-num;

        &:before {
            // content: counter(list-num)".";
            // display: block;
            // float: left;
            // padding-left: 0.25em;
            // margin-right: 0.7em;
            // text-align: left;
            // width: 1em;
        }

        // change the style when there more than 10 li.
        &:nth-child(n + 10) {
            list-style-type: none;
            counter-increment: list-num;

            &:before {
                padding-left: 0;
                margin-right: 1em;
            width: 1em;


            }
        }
    }
}

// unordered list
ul {
    li {
        list-style-image: url('/images/>.svg');
        list-style-position: outside;
        margin-left: 1em;
        counter-increment: list-num;
        // &:before {
        //     content: "•";
        //     display: block;
        //     float: left;
        //     // width: auto;
        //     // margin-left: 1em;
        //     padding-left: 0.5em;
        //     margin-right: 0.9em;

        //     text-align: left;
        // }
    }
}
}

span.api-methods {
  padding-left: 10px;
}

span.api-methods code {
    background: none;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: smaller;
}
