#footer-button ❤
footer#footer
  p INK is made thanks to
  .logos
    .logo
      a(href="https://www.shuttleworthfoundation.org/" target="_blank")
        include /_shared/shuttleworth.jade
    .logo
      a(href="https://www.coko.foundation/" target="_blank")
        include /_shared/coko.jade
    .logo
      a(href="https://www.moore.org/" target="_blank")
        include /_shared/moore.jade
    
