script.
  var active = document.querySelector("#active");
  active.addEventListener('click', function () {
     document.querySelector("#show").classList.toggle('active');
     document.querySelector("#active").classList.toggle('button-active');
     document.querySelector("#active").classList.toggle('rotateON');
     document.querySelector("#active").classList.toggle('rotateOFF');
  });



//- prism highlighter
script(src="/js/prism/prism.js")

// filter library
script.
  var off = function (el) {
    el.classList.add('hidden')
  }
  var on = function (el) {
    el.classList.remove('hidden')
  }
  var showMatching = function(string) {
    return 
  }
  document.querySelector('.search-input').addEventListener('keyup', function (e) {
    var input = e.target
    if (input.value.trim() === '') {
      document.querySelectorAll(".card").forEach(on)
      off(document.querySelector('.nohits'))
      return
    }
    var query = input.value.trim().toLowerCase(input.value)
    var any = false
    var showOrHide = function (el) {
      if (el.innerText.toLowerCase().indexOf(query) > -1) {
        on(el)
        any = true
      } else {
        off(el)
      }
    }
    document.querySelectorAll(".card").forEach(showOrHide)
    if (any) {
      off(document.querySelector('.nohits'))
    } else {
      on(document.querySelector('.nohits'))
    }
  })

//- hide show TOC in menu

script.
  var headLvl1 = document.querySelectorAll('nav > ul > li');
  headLvl1.forEach(function (li) {
    return li.addEventListener('click', toggleOpen);
  });
  function toggleOpen() {
    this.classList.toggle('hidden');
  }
  
script.
  var buttons = document.querySelectorAll('.filter-button');
  buttons.forEach(function (filt) {
      return filt.addEventListener('click', function () {
          this.classList.toggle('filterit');
      });
  });

//- show hide thanks to the sponsors
script.
  var logopush = document.querySelector('#footer-button');
  var foot = document.querySelector('#footer');
  logopush.addEventListener('click', function () {
    foot.classList.toggle('logoshow');
    logopush.classList.toggle('footON');
  });
  foot.addEventListener('click', function () {
    foot.classList.toggle('logoshow');
    logopush.classList.toggle('footON');

  })


script.
  var headers = document.querySelectorAll('main h2,  h2, main h3, main h4');

  headers.forEach(function (e) {
    //- create ID attribtue from the content
    var id = e.innerHTML.toLowerCase().replace(/\s+|\/|\\/g, '-').replace(/á|à|ạ|ả|ã|ă|ắ|ằ|ặ|ẳ|ẵ|â|ấ|ầ|ậ|ẩ|ẫ|ä/g, 'a').replace(/đ/g, 'd').replace(/é|è|ẹ|ẻ|ẽ|ê|ế|ề|ệ|ể|ễ/g, 'e').replace(/í|ì|ị|ỉ|ĩ/g, 'i').replace(/ó|ò|ọ|ỏ|õ|ô|ố|ồ|ộ|ổ|ỗ|ơ|ớ|ờ|ợ|ở|ỡ/g, 'o').replace(/ú|ù|ụ|ủ|ũ|ư|ứ|ừ|ự|ử|ữ/g, 'u').replace(/ý|ỳ|ỵ|ỷ|ỹ/g, 'y').replace(/[^a-z0-9-]/g, '');
    e.setAttribute('id', id);

    //- create the "#" link element
    var headlink = document.createElement('a');
    headlink.setAttribute('class', 'headlink');
    //- for clipboard.js add a data-clipboard-text attribute
    headlink.setAttribute('data-clipboard-text', window.location.protocol + window.location.host + window.location.pathname + '#' + id);
    headlink.setAttribute('data-content', 'copy URL to clipboard');
    headlink.innerHTML = '#';
    e.prepend(headlink);
  });


  var clipboard = new Clipboard('.headlink');

  
  var headl = document.querySelectorAll('.headlink');
  headl.forEach(function (e) {
    return e.addEventListener('click', copied);
  });
  function copied() {
    document.querySelectorAll('.headlink').forEach( function(e) { e.setAttribute('data-content', 'Copy url to clipboard')});
    this.setAttribute('data-content', 'Copied to clipboard!');
  }

  
