doctype
html(lang="en")
  head
    != partial("_shared/head")
    != partial("_shared/favicons")
  body
    block nav
      != partial("_shared/menu")
    
    block content
      main
        != partial("_shared/ink-logo")
        != yield
        //- show next if you’re in a folder inside of DOCS
        if current.path[0] == 'docs'
          hr
          != partial("_shared/next")

    block footer
      != partial("_shared/footer")
    
    block scripts
      != partial("_shared/scripts")
    
